<header class="navbar navbar-default">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav navbar-nav">
					<a ui-sref="home" role="button" class="navbar-brand">
						Home
					</a>
					
					<li class="dropdown" dropdown>
                        <a role="button" class="dropdown-toggle" dropdown-toggle aria-haspopup="true" aria-expanded="false">
                            Pages <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
							<li><a ui-sref="my-profile">second page</a></li>
					        <li><a href="#">third</a></li>
					        <li><a href="#">fourth</a></li>                        
					    </ul>
                    </li>
				</ul>
			</nav>
		</div>
	</div>
</header>